html::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
}

body{
   background-color: #1f2e23!important;
}

.header{
     margin: 0 auto;
     height: 60px;
     width: 1200px;
}

.header>section{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header>section>nav{
    display: flex;
    align-items: center;
}

.header>section>h4>a{
    text-decoration: none;
    color: white;
}

.header>section>nav>li>a{
    margin-left: 45px;
    font-size: 11pt;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

.header>section>nav>li:last-child>a{
    border: 1px solid white;
    padding: 6px 10px;
    border-radius: 10px;
}

.header>section>nav>li>a:hover{
    color: white;
    transition: 0.4s ease-in-out;
}

.header>section>nav>li:last-child>a:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.4s ease-in-out;
}

main{
    background-color: white;
}

.zgl{
    color: #1f2e23;
    font-size: 24pt;
    font-weight: normal;
    line-height: normal;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.image{
    margin: 0 20px;
    padding: 20px;
    border: 1px solid #1f2e23;
    display: flex;
    align-items: center;
}

select {
    width: 100%;
}

img {
    width: 300px;
    height: 200px;
    border: 1px solid #1f2e23;
}

.name {
    font-weight: bold;
    text-transform: uppercase;
}

.status {
    text-transform: uppercase;
    font-weight: bold;
    color: #842029;
}

.description{
    background-color: #63856c;

}

.description>p {
    color: white;
}

.card {
    background-color: #63856c;
}

.sl>a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #1f2e23;
    padding: 10px 20px;
    transition: 0.4s ease-out;
    border-radius: 20px;
}

.sl>a:hover{
    color: white;
    background-color: #63856c;
    transition: 0.4s ease-out;
}

.sl {
    margin: 25px 40px;
}

.logout_link {
    background-color: #1f2e23;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
    margin: 10px;
}

.logout_link:hover {
    background-color: #63856c;
    color: white;
    transition: 0.4s ease-in-out;
}

.errorlist{
    padding: 0 10px;
    list-style-type: none;
    background-color: #f8d7da;
    color: #842029;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
}

.alert-danger {
    padding: 5px 10px;
    border-radius: 10px;
}

.alert-danger>p{
    margin: 0;
}

.errorlist>li {
    list-style-type: none;
}

.for-form>form{
    padding: 40px;
    background-color: #1f2e23;
    border-radius: 20px;
    margin: 20px;
}

.for-form>form>table>tbody>tr{
    display: grid;
}

.for-form>form>input{
    width: 100%;
    margin-top: 25px;
    background-color: white;
    border: none;
    border-radius:5px ;
    color: #1f2e23;
    font-weight: bold;
    height: 35px;
    transition: 0.4s ease-in-out;
}

.for-form>form>input:hover{
    background-color: #919993;
    color: white;
    transition: 0.4s ease-in-out;
}

.for-form>form>button{
    width: 100%;
    margin-top: 25px;
    background-color: white;
    border: none;
    border-radius:10px;
    font-weight: bold;
    color: #1f2e23;
    transition: 0.4s ease-in-out;
}

.for-form>form>button:hover{
    background-color: #919993;
    color: white;
    transition: 0.4s ease-in-out;
}

.for-form>form>table>tbody>tr>th>label{
    color: white ;
    margin-top: 10px;
}

.for-form>form>table>tbody>tr>td>label{
    color: white ;
    font-weight: bold;
    margin-top: 10px;
}

.wit{
    padding: 40px;
}

.for-form>form>table>tbody>tr>td>input{
    width: 100%;
}

footer>p{
    padding: 30px;
    margin: 0;
}